.section1 .myavatar {
    -webkit-animation: fadeInUp 1.2s ease both;
    animation: fadeInUp 1.2s ease both;
}
.section1 .myname {
    -webkit-animation: fadeInUp 1s ease both;
    animation: fadeInUp 1s ease both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.section1 .subtitle {
    -webkit-animation: fadeInUp 1.2s ease both;
    animation: fadeInUp 1.2s ease both;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.section1 h5 {
    -webkit-animation: fadeInUp 1.4s ease both;
    animation: fadeInUp 1.4s ease both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.section1 .mybtn {
    -webkit-animation: fadeInUp 0.8s ease both;
    animation: fadeInUp 0.8s ease both;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.section2 .myskills a:nth-child(1) {
    -webkit-animation: zoomIn 0.2s ease both;
    animation: zoomIn 0.2s ease both;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.section2 .myskills a:nth-child(2) {
    -webkit-animation: zoomIn 0.4s ease both;
    animation: zoomIn 0.4s ease both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.section2 .myskills a:nth-child(3) {
    -webkit-animation: zoomIn 0.6s ease both;
    animation: zoomIn 0.6s ease both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.section2 .myskills a:nth-child(4) {
    -webkit-animation: zoomIn 0.8s ease both;
    animation: zoomIn 0.8s ease both;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.section2 .myskills a:nth-child(5) {
    -webkit-animation: zoomIn 1s ease both;
    animation: zoomIn 1s ease both;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.section2 .myskills a:nth-child(6) {
    -webkit-animation: zoomIn 1.2s ease both;
    animation: zoomIn 1.2s ease both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.section2 .myskills a:nth-child(7) {
    -webkit-animation: zoomIn 1.4s ease both;
    animation: zoomIn 1.4s ease both;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.section2 .myskills a:nth-child(8) {
    -webkit-animation: zoomIn 1.6s ease both;
    animation: zoomIn 1.6s ease both;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.section2 .myskills a:nth-child(9) {
    -webkit-animation: zoomIn 1.8s ease both;
    animation: zoomIn 1.8s ease both;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.section2 .myskills a:nth-child(10) {
    -webkit-animation: zoomIn 2s ease both;
    animation: zoomIn 2s ease both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.section2 .myskills a:nth-child(11) {
    -webkit-animation: zoomIn 2.2s ease both;
    animation: zoomIn 2.2s ease both;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.section2 .myskills a:nth-child(12) {
    -webkit-animation: zoomIn 2.4s ease both;
    animation: zoomIn 2.4s ease both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.section2 .myskills a:nth-child(13) {
    -webkit-animation: zoomIn 2.6s ease both;
    animation: zoomIn 2.6s ease both;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
.section2 .myskills a:nth-child(14) {
    -webkit-animation: zoomIn 2.8s ease both;
    animation: zoomIn 2.8s ease both;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.section2 .myskills a:nth-child(15) {
    -webkit-animation: zoomIn 3s ease both;
    animation: zoomIn 3s ease both;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.section2 .myskills a:nth-child(16) {
    -webkit-animation: zoomIn 3.2s ease both;
    animation: zoomIn 3.2s ease both;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.section2 .myskills a:nth-child(17) {
    -webkit-animation: zoomIn 3.4s ease both;
    animation: zoomIn 3.4s ease both;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}
.section2 .myskills a:nth-child(18) {
    -webkit-animation: zoomIn 3.6s ease both;
    animation: zoomIn 3.6s ease both;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.7s;
}
.section2 .myskills a:nth-child(19) {
    -webkit-animation: zoomIn 3.8s ease both;
    animation: zoomIn 3.8s ease both;
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}
.section2 .myskills a:nth-child(20) {
    -webkit-animation: zoomIn 4s ease both;
    animation: zoomIn 4s ease both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

/*.section3 .work-item:nth-child(1) .rel {
    -webkit-animation: zoomIn 0.2s ease both;
    animation: zoomIn 0.2s ease both;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.section3 .work-item:nth-child(2) .rel {
    -webkit-animation: zoomIn 0.4s ease both;
    animation: zoomIn 0.4s ease both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.section3 .work-item:nth-child(3) .rel {
    -webkit-animation: zoomIn 0.6s ease both;
    animation: zoomIn 0.6s ease both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.section3 .work-item:nth-child(4) .rel {
    -webkit-animation: zoomIn 0.8s ease both;
    animation: zoomIn 0.8s ease both;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.section3 .work-item:nth-child(5) .rel {
    -webkit-animation: zoomIn 1s ease both;
    animation: zoomIn 1s ease both;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.section3 .work-item:nth-child(6) .rel {
    -webkit-animation: zoomIn 1.2s ease both;
    animation: zoomIn 1.2s ease both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.section3 .work-item:nth-child(7) .rel {
    -webkit-animation: zoomIn 1.4s ease both;
    animation: zoomIn 1.4s ease both;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.section3 .work-item:nth-child(8) .rel {
    -webkit-animation: zoomIn 1.6s ease both;
    animation: zoomIn 1.6s ease both;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}*/
.section3 .work-item:nth-child(9) .rel {
    -webkit-animation: zoomIn 1.8s ease both;
    animation: zoomIn 1.8s ease both;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.section3 .work-item:nth-child(10) .rel {
    -webkit-animation: zoomIn 2s ease both;
    animation: zoomIn 2s ease both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.section3 .work-item:nth-child(11) .rel {
    -webkit-animation: zoomIn 2.2s ease both;
    animation: zoomIn 2.2s ease both;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.section3 .work-item:nth-child(12) .rel {
    -webkit-animation: zoomIn 2.4s ease both;
    animation: zoomIn 2.4s ease both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.section3 .work-item:nth-child(13) .rel {
    -webkit-animation: zoomIn 2.6s ease both;
    animation: zoomIn 2.6s ease both;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
.section3 .work-item:nth-child(14) .rel {
    -webkit-animation: zoomIn 2.8s ease both;
    animation: zoomIn 2.8s ease both;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.section3 .work-item:nth-child(15) .rel {
    -webkit-animation: zoomIn 3s ease both;
    animation: zoomIn 3s ease both;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.section3 .work-item:nth-child(16) .rel {
    -webkit-animation: zoomIn 3.2s ease both;
    animation: zoomIn 3.2s ease both;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}



.section3 .word-items:nth-child(1) .work-item:nth-child(1) .rel {
    -webkit-animation: zoomIn 0.2s ease both;
    animation: zoomIn 0.2s ease both;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.section3 .word-items:nth-child(1) .work-item:nth-child(2) .rel {
    -webkit-animation: zoomIn 0.4s ease both;
    animation: zoomIn 0.4s ease both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.section3 .word-items:nth-child(2) .work-item:nth-child(1) .rel {
    -webkit-animation: zoomIn 0.6s ease both;
    animation: zoomIn 0.6s ease both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.section3 .word-items:nth-child(2) .work-item:nth-child(2) .rel {
    -webkit-animation: zoomIn 0.8s ease both;
    animation: zoomIn 0.8s ease both;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.section3 .word-items:nth-child(3) .work-item:nth-child(1) .rel {
    -webkit-animation: zoomIn 1s ease both;
    animation: zoomIn 1s ease both;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.section3 .word-items:nth-child(3) .work-item:nth-child(2) .rel {
    -webkit-animation: zoomIn 1.2s ease both;
    animation: zoomIn 1.2s ease both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.section3 .word-items:nth-child(4) .work-item:nth-child(1) .rel {
    -webkit-animation: zoomIn 1.4s ease both;
    animation: zoomIn 1.4s ease both;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.section3 .word-items:nth-child(4) .work-item:nth-child(2) .rel {
    -webkit-animation: zoomIn 1.6s ease both;
    animation: zoomIn 1.6s ease both;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}



.section3 .work-box {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-animation: scaleRight .8s ease both;
    animation: scaleRight .8s ease both;
}
.section3 .wow_01 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.section3 .wow_02 {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.section3 .wow_03 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.section3 .wow_04 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.section3 .wow_05 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
.section3 .wow_06 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.section4 .collection-item:nth-child(1) {
    -webkit-animation: zoomIn 0.4s ease both;
    animation: zoomIn 0.4s ease both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.section4 .collection-item:nth-child(2) {
    -webkit-animation: zoomIn 0.8s ease both;
    animation: zoomIn 0.8s ease both;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.section4 .collection-item:nth-child(3) {
    -webkit-animation: zoomIn 1.2s ease both;
    animation: zoomIn 1.2s ease both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.section4 .collection-item:nth-child(4) {
    -webkit-animation: zoomIn 1.6s ease both;
    animation: zoomIn 1.6s ease both;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.section4 .collection-item:nth-child(5) {
    -webkit-animation: zoomIn 2s ease both;
    animation: zoomIn 2s ease both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.section4 .collection-item:nth-child(6) {
    -webkit-animation: zoomIn 2.4s ease both;
    animation: zoomIn 2.4s ease both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.section4 .collection-item:nth-child(7) {
    -webkit-animation: zoomIn 2.8s ease both;
    animation: zoomIn 2.8s ease both;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.section4 .collection-item:nth-child(8) {
    -webkit-animation: zoomIn 3.2s ease both;
    animation: zoomIn 3.2s ease both;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.section5 .expect p:nth-child(1) {
    -webkit-animation: bounceInRight 0.5s ease both;
    animation: bounceInRight 0.5s ease both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.section5 .expect p:nth-child(2) {
    -webkit-animation: bounceInRight 1s ease both;
    animation: bounceInRight 1s ease both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.section5 .expect p:nth-child(3) {
    -webkit-animation: bounceInRight 1.5s ease both;
    animation: bounceInRight 1.5s ease both;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.section5 .expect p:nth-child(4) {
    -webkit-animation: bounceInRight 2s ease both;
    animation: bounceInRight 2s ease both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.section6 .social a.call-item:nth-child(1) {
    display: inline-block;
    -webkit-animation: bounce 0.2s ease both;
    animation: bounce 0.2s ease both;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.section6 .social a.call-item:nth-child(2) {
    display: inline-block;
    -webkit-animation: bounce 0.4s ease both;
    animation: bounce 0.4s ease both;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.section6 .social a.call-item:nth-child(3) {
    display: inline-block;
    -webkit-animation: bounce 0.6s ease both;
    animation: bounce 0.6s ease both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.section6 .social a.call-item:nth-child(4) {
    display: inline-block;
    -webkit-animation: bounce 0.8s ease both;
    animation: bounce 0.8s ease both;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.section6 .social a.call-item:nth-child(5) {
    display: inline-block;
    -webkit-animation: bounce 1s ease both;
    animation: bounce 1s ease both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.section6 .social a.call-item:nth-child(6) {
    display: inline-block;
    -webkit-animation: bounce 1.2s ease both;
    animation: bounce 1.2s ease both;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
.section6 .callme p:nth-child(1) {
    -webkit-animation: fadeInUp 0.2s ease both;
    animation: fadeInUp 0.2s ease both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.section6 .callme p:nth-child(2) {
    -webkit-animation: fadeInUp 0.4s ease both;
    animation: fadeInUp 0.4s ease both;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.section6 .callme p:nth-child(3) {
    -webkit-animation: fadeInUp 0.6s ease both;
    animation: fadeInUp 0.6s ease both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.section6 .callme p:nth-child(4) {
    -webkit-animation: fadeInUp 0.8s ease both;
    animation: fadeInUp 0.8s ease both;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.section6 .btn-download {
    -webkit-animation: wobble 1s ease both;
    animation: wobble 1s ease both;
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s;
}







.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}
@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}

@-webkit-keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


@-webkit-keyframes scaleRight {
    0% {
        opacity:0;
        -webkit-transform:scaleX(0)
    }

    30% {
        opacity:1
    }

    60% {
        -webkit-transform:scaleX(1.1)
    }

    90% {
        -webkit-transform:scaleX(0.97)
    }

    100% {
        -webkit-transform:scaleX(1)
    }
}

@keyframes scaleRight {
    0% {
        opacity:0;
        transform:scaleX(0)
    }
    30% {
        opacity:1
    }
    60% {
        transform:scaleX(1.1)
    }
    90% {
        transform:scaleX(0.97)
    }
    100% {
        transform:scaleX(1)
    }
}

@keyframes mountain {
    0% {
        background-position:0 0
    }

    100% {
        background-position:1000px 0
    }
}

@-webkit-keyframes mountain {
    0% {
        background-position:0 0
    }

    100% {
        background-position:1000px 0
    }
}
